@use "@/assets/styles/globals";

.menu.visible {
  display: block;
}

.menu {
  display: none;
  padding: 5px 0;
  border-radius: 4px;
  border: 1px solid gainsboro;
  background: ghostwhite;
  z-index: 700;
  box-shadow: 0 0 2px 1.5px #a3a3a3dc;

  > div {
    display: flex;
    flex-flow: column;

    .menu-item {
      display: flex;
      box-sizing: border-box;
      padding: 5px;
      width: calc(100%);
      color: black;
      background: none;
      font-size: 14px;
      font-weight: 600;
      border: none;
      white-space: nowrap;
      text-decoration: none;
      cursor: pointer;

      &:hover {
        color: white;
        background: globals.$primary-color-light;

        &.danger {
          background: globals.$danger-color-light;
        }
      }
    }
  }
}
