.items-loader {
  > .sect {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 10px;
    min-height: 100%;
    max-height: 50px;
    background: whitesmoke;

    h4 {
      margin: 5px;
    }

    &.hidden {
      display: none;
    }
  }

}
