@use "../../globals";

.main-layout {
  display: grid;
  grid-template-areas: "left center right";
  grid-template-columns: clamp(30px, 30%, 150px) 1fr clamp(80px, 30%, 250px) 0;
  margin-left: clamp(2.5%, 25%, 80px);
  margin-right: clamp(2.5%, 25%, 80px);
  min-height: 100%;
  border-left: 2px solid gray;
  border-right: 2px solid gray;
  overscroll-behavior: contain;
  scroll-behavior: smooth;
  align-items: flex-start;

  > .left-pane {
    position: sticky;
    display: flex;
    top: 0;
    height: inherit;
    grid-area: left;
    overflow: auto;

    > div {
      height: 100%;
      width: 100%;

      > .logo-pane {
        display: flex;
        margin: 5px;
        padding: 10px;
        align-items: center;
        justify-content: center;
        border-radius: 5px;
        background: #d7dbdba1;
        cursor: pointer;

        > svg {
          width: 50px;
          height: 50px;
        }
      }
    }
  }

  > .center-pane {
    position: relative;
    min-height: 100%;
    border-left: 2px solid gray;
    border-right: 2px solid gray;

    > :first-child {
      position: sticky;
      top: 0;
      left: 0;
      border-bottom: 2px solid gray;
      height: calc(45px + 2px);
      z-index: 500;

      > :first-child {
        position: absolute;
        display: grid;
        grid-auto-flow: row;
        align-items: center;
        justify-content: flex-start;
        padding: 5px;
        width: calc(100% - 2 * 5px);
        height: calc(100% - 2 * 5px);
        z-index: 5;
      }

      > :last-child {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: -1;
        background: #ffffffb0;
        backdrop-filter: blur(2px);
      }
    }

    > :last-child {
      margin: 0;
    }
  }

  > .right-pane {
    position: sticky;
    display: flex;
    top: 0;
    height: inherit;
    grid-area: right;
    overflow: auto;

    > div {
      height: 100%;
      width: 100%;

      > .search {
        display: grid;
        padding: 5px;
        column-gap: 2px;
        grid-template-columns: 1fr auto;
        align-items: center;

        > input {
          padding: 5px 10px;
          border-radius: 20px;
          border: 2px solid gainsboro;
          min-width: 50px;
          outline: none;

          &:focus {
            border: 2px solid globals.$primary-color-lighter;
          }
        }

        &.hidden {
          display: none;
        }
      }

      > .info {
        padding: 10px 5px;
        * {
          display: flex;
          color: black;
          text-decoration: none;
        }

        a {
          font-size: 0.8em;

          &:hover {
            color: globals.$primary-color-lighter;
            text-decoration: 1.5px underline globals.$primary-color-lighter;
          }
        }
      }
    }
  }
}

.nav-btn {
  display: flex;
  width: calc(100% - 2 * 2.5px - 2 * 5px);
  margin: 2.5px;
  padding: 0 5px;
  align-items: center;
  justify-content: left;
  background: transparent;
  border: 1px solid transparent;
  text-decoration: none;
  cursor: pointer;

  > span {
    display: flex;
    width: fit-content;
    padding: 2.5px 5px;
    align-items: center;
    justify-content: center;
    color: black;
    fill: black;
    background: transparent;
    border-radius: 20px;
    border: 1px solid gray;
    text-decoration: none;
    cursor: pointer;
    transition-property: background;
    transition-duration: 600ms;
    transition-timing-function: ease-in-out;

    > svg {
      width: 30px;
      height: 30px;
    }
  }

  &.selected {
    > span {
      background: globals.$primary-color;
      color: white;
      fill: white;
    }
  }

  &:hover {
    > span {
      background: globals.$primary-color-light;
      color: ghostwhite;
      fill: ghostwhite;
    }
  }
}

.cta-sect {
  position: relative;
  display: flex;
  padding: 10px;
  justify-content: center;
  align-items: center;

  > button {
    display: flex;
    margin: 5px;
    padding: 8px 20px;
    align-items: center;
    justify-content: center;
    background: globals.$primary-color;
    color: whitesmoke;
    fill: whitesmoke;
    border-radius: 20px;
    border: none;
    box-shadow: 0 0 1.5px 1px gray;
    font-size: 1.3em;
    cursor: pointer;
    outline: none;
    filter: brightness(1.2);

    > svg {
      display: none;
    }
  }

  > button:hover {
    filter: brightness(0.98);
  }

  > button:active {
    transform: scaleX(0.95) scaleY(0.95);
  }
}

.header-pane {
  > div {
    display: grid;
    column-gap: 10px;
    grid-template-columns: auto 1fr;
    height: 100%;
    align-items: center;

    > div:last-child {
      display: flex;
      flex-flow: column;
      align-items: flex-start;
      justify-content: center;
      height: 100%;
      cursor: context-menu;

      > h1 {
        margin: 0;
        font-size: clamp(12px, 1.2em, 20px);
      }

      > h2 {
        margin: 0;
        // font-size: 1.2em;
      }

      > h3 {
        margin: 0;
        font-size: 1.2em;
      }

      > h5 {
        margin: 0;
        font-size: 0.8em;
        font-weight: normal;
      }
    }
  }
}

@media (max-width: 750px) {
  .main-layout {
    grid-template-areas: "left center";
    grid-template-columns: clamp(30px, 30%, 150px) 1fr 0;

    > .center-pane {
      border-right: none;
    }

    > .right-pane {
      display: none;
    }
  }
}

@media (max-width: 600px) {
  .main-layout {
    grid-template-areas: "left center";
    grid-template-columns: 50px 1fr;

    > .left-pane {
      > div {
        > .logo-pane {
          margin: 5px;
          padding: 5px;
          border-radius: 5px;

          > svg {
            width: 30px;
            height: 30px;
          }
        }
      }
    }

    > .center-pane {
      border-right: none;
    }
  }

  .nav-btn {
    > span {
      padding: 2.5px;
      border-radius: 20px;

      > svg {
        width: 30px;
        height: 30px;
      }
      > b {
        display: none;
      }
    }
  }

  .cta-sect {
    padding: 2px;

    > button {
      padding: 8px;

      > svg {
        display: inline-block;
        width: 25px;
        height: 25px;
      }

      > b {
        display: none;
      }
    }
  }
}

@media (max-width: 450px) {
  .main-layout {
    grid-template-areas: "left center";
    grid-template-columns: 50px 1fr;
    margin: 0 15px;

    > .left-pane {
      > div {
        > .logo-pane {
          margin: 5px;
          padding: 5px;
          border-radius: 5px;

          > svg {
            width: 30px;
            height: 30px;
          }
        }
      }
    }

    > .center-pane {
      border-right: none;
    }
  }
}

@media (max-width: 350px) {
  .main-layout {
    grid-template-areas: "left center";
    grid-template-columns: 50px 1fr;
    margin: 0 10px;
  }
}
