@use '@/assets/styles/textboxes';
@use '@/assets/styles/globals';

.auth {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  min-height: calc(100% - 2 * 10%);
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  padding: 10%;
  overflow: auto;

  .close-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2.5px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
  }

  > div {
    width: clamp(120px, 80%, 400px);
    padding: 10px;
    border-radius: 10px;
    border: 2px groove globals.$primary-color-light;
    background: ghostwhite;
    box-shadow: 0 0 1.5px 1.5px globals.$primary-color-lighter;
    cursor: context-menu;

    h2 {
      font-size: 1em;
    }
    > form > .action{
      display: flex;
      align-items: center;
      justify-content: flex-end;
      padding: 5px;
    }
  }

  .auth-link {
    color: black;
    border-bottom: 2px solid globals.$primary-color-lighter;
    font-weight: 500;
    text-decoration: none;
    cursor: pointer;
    outline: none;

    &:hover {
      color: globals.$primary-color;
      border-bottom: 2px solid globals.$primary-color;
    }
  }
}
