
.user-profile {
  > .profile-info {
    position: relative;
    > div {
      padding: 15px;
      > .profile-photo-sect {
        display: flex;
        position: relative;
        align-items: center;

        > .image-view-btn{
          position: relative;
          display: flex;
          align-items: center;
          justify-content: center;
          width: calc(100px + 10px);
          height: calc(100px + 10px);
          margin-right: 10px;
          border: 3px solid #00ff73;
          border-radius: 50%;
          outline: none;
          cursor: pointer;

          img {
            position: absolute;
            width: calc(100% - 2 * 10px);
            z-index: 5;
          }

          svg {
            position: absolute;
            width: 80%;
            height: 80%;
            z-index: 1;
          }
        }

        > .account-action-btn {
          border: 2px solid gainsboro;
          border-radius: 10px;
          cursor: pointer;

          &.edit {
            background: ghostwhite;
          }

          &.follow {
            background: #46d398;
          }

          &.unfollow {
            background: #e03f0d;
          }
        }
      }

      > .name-sect {
        margin-top: 5px;
        white-space: nowrap;
        overflow: auto;
        text-overflow: ellipsis;
      }

      > .join-sect {
        display: flex;
        align-items: center;
        margin: 5px 5px 5px 0;
      }

      > .connections-sect {
        display: flex;

        button {
          display: flex;
          flex-flow: column;
          margin: 5px;
          padding: 5px;
          align-items: center;
          justify-content: center;
          background: none;
          border: none;
          cursor: pointer;
          outline: none;
          border-radius: 5px;
          transition-property: background;
          transition-duration: 250ms;

          &:hover {
            background: #c4c4c4;
          }
        }
      }

      > .bio-sect{
        padding: 10px;
      }
    }
  }
}