@use "@/assets/styles/globals";

.comment {
  padding: 5px;
  border-top: 1px solid gainsboro;
  border-bottom: 1px solid gainsboro;

  > .heading {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    justify-content: center;
    column-gap: 5px;

    > div:nth-child(1) {
      > a {
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 600;
        padding: 2px;
        border: 2px solid globals.$primary-color-light;
        border-radius: 50%;

        > svg {
          width: 30px;
          height: 30px;
        }
      }
    }

    > div:nth-child(2) {
      > a {
        font-weight: 600;
        text-decoration: none;
        white-space: nowrap;
        overflow: auto;
        text-overflow: ellipsis;
      }
    }

    > div:nth-child(3) {
      position: relative;
    }
  }

  > .body {
    margin: 0 40px;

    > .main {
      margin: 10px 0;
      padding: 10px;
      background: ghostwhite;
      border-radius: 10px;
      border: 1px solid gainsboro;
      cursor: context-menu;
    }

    > .creation-time {
      font-size: x-small;
      font-weight: 500;
      text-align: right;
      margin-bottom: 2.5px;
    }

    > .footer {
      display: grid;
      grid-template-columns: auto 1fr;
      padding: 5px 5px 0 5px;
      justify-content: flex-start;
      align-items: center;
      border-top: 1px solid gainsboro;

      > div:nth-child(2) {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        align-content: center;

        &.hidden {
          display: none;
        }
      }

      .see-replies {
        color: black;
        font-weight: 500;
        border-bottom: 2px solid transparent;
        text-decoration: none;
        outline: none;
        cursor: pointer;

        &:hover {
          color: globals.$primary-color-light;
          border-bottom: 2px solid globals.$primary-color-light;
        }
      }

      .reply-tgl-btn {
        padding: 5px;
      }

      &.hidden {
        display: none;
      }
    }

    > .reply {
      margin-top: 5px;
      padding: 5px 5px 0 5px;
      border-top: 1px solid gainsboro;

      > div {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
      }
    }
  }
}
