@use "@/assets/styles/globals";

.poem {
  position: relative;
  display: flex;
  border-top: 1px solid gainsboro;
  border-bottom: 1px solid gainsboro;
  height: fit-content;
  min-height: 60px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition-property: background;
  transition-duration: 300ms;

  > div {
    flex-flow: column;
    width: 100%;
    padding: 5px 5px 0 5px;

    > div {
      display: flex;
      width: 100%;

      &.header {
        display: grid;
        padding: 5px;
        grid-template-columns: auto 1fr auto;
        align-items: center;
        justify-content: center;
        column-gap: 5px;

        > div:nth-child(1) {
          > a {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            box-sizing: content-box;
            padding: 0.5px;
            width: 38px;
            height: 38px;
            color: black;
            font-weight: 600;
            border: 1px solid globals.$primary-color-lighter;
            border-radius: 50%;

            img {
              position: absolute;
              border-radius: 50%;
              z-index: 5;
            }

            svg {
              position: absolute;
              width: 80%;
              height: 80%;
              z-index: 1;
            }
          }
        }

        > div:nth-child(2) {
          > a {
            color: black;
            font-weight: 600;
            text-decoration: none;
            white-space: nowrap;
            overflow: auto;
            text-overflow: ellipsis;

            &:hover {
              color: globals.$primary-color-light;
            }
          }
        }

        > div:nth-child(3) {
          position: relative;
        }
      }

      &.main {
        padding: 0 40px;
        width: calc(100% - 2 * 40px);
        flex-flow: column;

        > h4 {
          margin: 5px 0;
        }

        > div {
          position: relative;
          display: flex;
          align-items: center;
          justify-content: center;
          height: max-content;
          min-height: 80px;
          // width: calc(100% - 2 * 40px);
          margin: 0 0 5px 0;
          padding: 10px max(40px, 25%);
          background: ghostwhite;
          border-radius: 10px;
          border: 1px solid gainsboro;

          > p {
            margin: 0;
            white-space: pre-wrap;
            word-break: break-word;

            &.hidden {
              display: none;
            }
          }

          > .nav-btn {
            position: absolute;
            width: fit-content;
            padding: 2px;
            margin: 0;
            top: calc(50% - (10px + 2px + 1px));
            border-radius: 50%;
            border: 1px solid gainsboro;
            box-shadow: 0 0 2px 1px gainsboro;
            z-index: 5;

            > svg {
              width: 20px;
              height: 20px;
            }

            &.left {
              left: 5px;
            }

            &.right {
              right: 5px;
            }

            &.hidden {
              display: none;
            }

            &:hover {
              background: gainsboro;
            }
          }

          > .page-info {
            position: absolute;
            display: flex;
            right: 5px;
            bottom: 5px;
            padding: 2px 5px;
            font-size: 0.8em;
            background: gainsboro;
            border-radius: 2px;
            cursor: context-menu;

            &.hidden {
              display: none;
            }
          }
        }
      }

      &.creation-time {
        width: calc(100% - 2 * 20px);
        margin-bottom: 2.5px;
        justify-content: flex-end;
        font-size: x-small;
        font-weight: 500;
      }

      &.interactions {
        display: flex;
        width: calc(100% - 2 * 40px);
        margin: 0 40px;
        align-items: center;
        justify-content: center;
        border-top: 1px solid gainsboro;

        > div.action-box {
          display: grid;
          padding: 2px;
          margin: 0 5px;
          column-gap: 5px;
          grid-template-columns: auto calc(4 * 0.8em);
          align-items: center;
          justify-content: center;

          > button {
            display: flex;
            margin: 0;
            padding: 2px;
            align-items: center;
            justify-content: center;
            background: none;
            border: none;
            border-radius: 50%;
            cursor: pointer;
            outline: none;

            > span {
              display: flex;
              height: 20px;
              width: 20px;
              padding: 8px;
              align-items: center;
              justify-content: center;
              border-radius: 50%;
              transition-property: background;
              transition-duration: 200ms;

              > svg {
                width: 20px;
                height: 20px;
              }
            }

            &:hover {
              > span {
                background: gainsboro;
                // > svg.not-liked-icon {
                //   fill: globals.$primary-color;
                // }
              }
            }
          }
          > .like-btn {
            background: transparent;
            &.liked {
              > span {
                > svg.liked-icon {
                  display: inline;
                  fill: globals.$primary-color;
                }

                > svg.not-liked-icon {
                  display: none;
                }
              }
            }

            &:not(.liked) {
              > span {
                > svg.liked-icon {
                  display: none;
                }

                > span > svg.not-liked-icon {
                  display: inline;
                }
              }
            }

            &:hover {
              > span {
                background: globals.$primary-color-lightest;
                > svg.not-liked-icon {
                  fill: globals.$primary-color;
                }
              }
            }
          }
        }
      }

      &.new-comment {
        flex-direction: column;
        width: calc(100% - 2 * 40px - 2 * 10px);
        margin: 0 40px;
        padding: 5px 10px;
        align-items: center;
        justify-content: center;

        > div {
          display: flex;
          width: 100%;
          padding-top: 2.5px;
          flex-direction: row;
          align-items: center;
          justify-content: flex-end;
        }
      }
    }
  }

  &:hover {
    background: ghostwhite;
  }
}
