@use "@/assets/styles/globals";

.content-container > main {
  display: block;
  min-height: calc(100% - 54px);
  padding-top: 54px;

  .header {
    position: fixed;
    display: grid;
    grid-template-columns: auto 1fr;
    width: calc(100% - 2 * 10px);
    top: 0;
    padding: 10px;
    z-index: 500;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 5px 5px globals.$shadow-color;
    backdrop-filter: blur(1px);
    cursor: context-menu;

    > nav {
      display: flex;
      align-items: center;
      justify-content: center;

      .nav-link {
        display: flex;
        box-sizing: content-box;
        margin: 0 2px;
        padding: 5px 15px;
        align-items: center;
        justify-content: center;
        font-weight: 550;
        font-size: 1em;
        color: black;
        background: none;
        border: none;
        border-radius: 20px;
        white-space: pre;
        text-decoration: none;
        outline: none;
        cursor: pointer;
        transition-property: background, fill, color;
        transition-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1), ease-in, ease-in;
        transition-duration: 500ms, 300ms, 300ms;
        transition-delay: 0ms, 100ms, 100ms;

        &:hover, &:focus {
          color: white;
          fill: white;
          background: globals.$primary-color;
          box-shadow: 0 0 2px 2px globals.$shadow-color;
        }
      }

      .nav-launch-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 5px;
        background: none;
        border-radius: 8px;
        border: none;
        cursor: pointer;
        outline: none;
        transition-property: fill;
        transition-duration: 300ms;

        &:hover, &:focus {
          fill: white;
          fill: globals.$primary-color;
        }
      }
    }
  }

  > article.app-about {
    > .intro {
      position: relative;
      display: grid;
      grid-template-rows: 100% 100%;
      height: fit-content;
      max-height: 640px;
      background: lavender;

      > div {
        &.preview {
          display: flex;
          height: 100%;
          width: 100%;
          align-items: flex-end;
          justify-content: flex-end;

          > img {
            max-height: 100%;
            max-width: 100%;
            object-fit: cover;
          }
        }

        &.info {
          position: absolute;
          display: flex;
          width: calc(100% - 2 * 10%);
          height: calc(100% - 10% - 20%);
          padding: 10% 10% 20% 10%;
          flex-direction: column;
          align-items: flex-start;
          justify-content: center;
          z-index: 5;

          > div {
            display: flex;
            flex-flow: column;
            justify-content: center;
            align-items: center;
          }

          .logo {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 10px;
            background: lavender;
            border: 2px solid globals.$primary-color;
            border-radius: 15px;
            box-shadow: 0 0 2px 2px globals.$shadow-color;

            > svg {
              width: 80px;
              height: 80px;
            }
          }

          .project-name {
            font-size: 3em;
            font-weight: 700;
          }

          .project-description {
            font-size: 1.0em;
          }
        }
      }
    }

    .sect {
      display: grid;
      padding: 20px 5%;
      grid-template-columns: 50% 50%;
      grid-template-areas: "left right";

      > div {
        display: flex;
        justify-content: center;
      }

      &.feature {
        > div {
          display: flex;
          align-items: center;

          &.preview {
            justify-content: center;

            > img {
              max-height: 400px;
              object-fit: cover;
            }
          }

          &.summary {
            flex-direction: column;
            align-items: center;
            justify-content: center;

            .title {
              font-size: 1.4em;
            }
          }
        }

        &.alt {
          > .preview {
            grid-area: right;
          }

          > .summary {
            grid-area: left;
          }
        }

        &:not(.alt) {
          > .preview {
            grid-area: left;
          }

          > .summary {
            grid-area: right;
          }
        }
      }

      &.dark-bg {
        color: white;
        background: globals.$primary-color;
      }
    }

    .mini-sect {
      display: flex;
      padding: 15px 5%;
      justify-content: center;
      background: lavender;

      > h3 {
        margin-right: 15px;
      }
    }

    .contributor-card {
      display: flex;
      flex-direction: column;
      align-items: center;
      align-self: center;
      height: fit-content;
      padding: 10px;
      border-radius: 15px;
      color: black;
      background: ghostwhite;
      box-shadow: 0 0 2px 2px globals.$shadow-color;
      cursor: pointer;
      user-select: none;

      > img {
        aspect-ratio: 1/1;
        width: clamp(50px, 50%, 120px);
        border-radius: 50%;
      }

      > .socials {
        a {
          margin: 0 5px;
          text-decoration: none;
          outline: none;
          fill: black;
          transition-property: fill;
          transition-duration: 200ms;

          > svg {
            width: 30px;
            height: 30px;
          }

          &:hover, &:focus {
            fill: globals.$primary-color;
          }
        }
      }
    }

    .footer {
      display: grid;
      grid-template-columns: 1fr auto;
      padding: 30px 5%;
      background: lighten(gainsboro, 10%);

      > div {
        display: flex;
      }

      a {
        display: flex;
        align-items: center;
        margin: 0 5px;
        color: darkslategrey;
        fill: darkslategrey;
        font-weight: 450;
        text-decoration: none;
        outline: none;
        transition-property: fill, color;
        transition-duration: 200ms, 200ms;

        &:hover {
          color: black;
          fill: black;
        }
      }
    }
  }
}

@media (max-width: 450px) {
  .content-container > main {
    min-height: calc(100% - 44px);
    padding-top: 44px;

    .header {
      width: calc(100% - 2 * 5px);
      padding: 5px;

      > nav {
        .nav-link {
          padding: 5px 10px;
          font-size: 0.8em;

          svg {
            width: 20px;
            height: 20px;
          }
        }
      }
    }

    > article.app-about {
      > .intro {
        grid-template-rows: auto auto;
        background: none;

        > div {
          &.preview {
            background: lavender;
            object-position: 20%;
          }

          &.info {
            position: relative;
            height: calc(100% - 2 * 10%);
            padding: 10%;
            align-items: center;

            .project-name {
              font-size: 2em;
            }

            .project-description {
              font-size: 0.7em;
            }
          }
        }
      }

      .sect {
        grid-template-columns: none;
        grid-template-areas:"left"
        "right";

        &.feature {
          > div {
            &.preview {
              > img {
                max-height: 250px;
              }
            }

            &.summary {
              > div {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
              }

              .title {
                font-size: 1.2em;
              }

              .description {
                font-size: 0.8em;
              }
            }
          }
        }

        &.about {
          > div > p {
            margin-top: 0;
          }
        }
      }
    }
  }
}
