@use "./globals";

.txb-label-over {
  position: relative;
  display: flex;
  align-items: center;
  margin: 5px 0;

  > .label {
    position: absolute;
    width: calc(100% - 2 * 12px);
    user-select: none;
    z-index: 5;
    left: 12px;
    font-size: 0.9em;
    cursor: text;
    color: gray;

    > div {
      display: grid;
      grid-template-columns: 1fr auto;
    }

    &.roll-up {
      top: calc(0.1em + 0.35em);
      font-size: 0.7em;
    }
  }


  > input {
    width: 100%;
    padding: calc(0.7em + 8px) 10px 5px 10px;
    border-radius: 5px;
    border: 2px solid gainsboro;
    background: inherit;
    outline: none;
  }

  > input:focus {
    color: black;
    border: 2px solid globals.$primary-color-lighter;
  }
}

@keyframes txt-label-over-focus-anim {
  from {
    top: 15px;
    font-size: 0.8em;
  }
  to {
    top: 5px;
    font-size: 0.7em;
  }
}

.cdp-txb {
  width: calc(100% - 2 * 10px);
  padding: 5px 10px;
  border-radius: 10px;
  border: 2px solid gainsboro;
  outline: none;
  resize: none;

  &:focus {
    color: black;
    border: 2px solid globals.$primary-color-lighter;
  }
}
